[Unit]
Description=Xenodium local hoosting
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env http-server /home/pi/webserver/xenodium.github.io -p 8081

[Install]
WantedBy=multi-user.target
